<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fniephaus.fabric</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>49595362-AF91-4CBF-8FEC-2A8D7ECD63CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D090CC49-62D9-46F3-9EB9-F1C42D6E281F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fabio Niephaus</string>
	<key>description</key>
	<string>Quickly execute Fabric tasks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fabric for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fab</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Listing Fabric tasks...</string>
				<key>script</key>
				<string>python fabric.py '{query}'</string>
				<key>subtext</key>
				<string>Quickly execute Fabric tasks</string>
				<key>title</key>
				<string>Fabric</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>D090CC49-62D9-46F3-9EB9-F1C42D6E281F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>49595362-AF91-4CBF-8FEC-2A8D7ECD63CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>49595362-AF91-4CBF-8FEC-2A8D7ECD63CC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D090CC49-62D9-46F3-9EB9-F1C42D6E281F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fniephaus/alfred-fabric/</string>
</dict>
</plist>
